{
    "vnfs_path": "/home/guto/app/",
    "dockerfile_name": "Dockerfile.tar.gz",
    "k8s_url": "http://localhost:8080",
    "k8s_url_deployments": "http://localhost:8080/apis/apps/v1/namespaces/default/deployments/",
    "k8s_url_services": "http://localhost:8080/api/v1/namespaces/default/services/",
    "vnf_port": 5000
}
